.container{
    border: solid;
    padding: 10px ;
    margin: 5pc ;

}
.container{
    border:solid rgb(211, 24, 24); 
    padding: 10px ;
    margin: 5pc ;
}
.content{
    border:dotted blue;
    padding: 10px ;
    margin: 5pc ;
}
h1{
    text-align: center;
}


 
